.onboarding-card{

display:flex;

flex-direction:column;

align-items:center;

text-align:center;

width:420px;
margin-top: 60px;

}

.onboarding-image{

width:250px;

margin-bottom:30px;

}

.dots{

display:flex;

gap:8px;

margin-bottom:20px;

}

.dot{

width:10px;
height:10px;

border-radius:50%;

background:#bdbdbd;

}

.dot.active{

width:22px;

border-radius:20px;

background:#7678ED;

}

.onboarding-card h2{

font-size:32px;

margin-bottom:18px;

font-weight:500;

}

.onboarding-card p{

font-size:18px;

line-height:1.5;

color:#666;

width:450px;

margin-bottom:50px;

}

.primary-btn{

width:140px;

height:52px;

border:none;

background:#7678ED;

border-radius:8px;

color:white;

font-size:24px;

cursor:pointer;

}