@import "./SignUp.css";

.login-page{
    width:100%;
    min-height:100vh;
    background:white;
    overflow:hidden;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
}

.login-section{

    margin-top:110px;

    width:100%;
    min-height:calc(100vh - 210px);

    background:#DCECEF;

    border-top-left-radius:45% 120px;

    display:flex;
    justify-content:center;

    position:relative;
}

.login-card{

    width:405px;

    margin-top:95px;
}

.login-card .input-group{

    margin-bottom:22px;
}

.login-card .primary-btn{

    width:235px;

    height:55px;

    border-radius:18px;

    font-size:24px;

    margin:55px auto 25px;
}

/* Forgot Password */

.forgot-password{

    text-align:right;

    margin-top:-12px;

    font-size:16px;

    cursor:pointer;
}

/* Sign Up */

.signup-text{

    text-align:center;

    font-size:18px;
}

.signup-text span{

    color:#2438E8;

    font-weight:600;

    cursor:pointer;
}